body {
      background-color: hsl(0, 0%, 94%);
      display: grid;
      place-items: center;
      font-family:"Urbanist",sans-serif; ;
}
.Hero-section{
    width: 50%;
}
h1{
    font-size:54px ;
    font-weight: 900;
    text-align: left;
    text-decoration:underline;
    text-decoration-color:red;
    text-decoration-thickness: 10px;
    text-decoration-style:solid;
    text-transform:capitalize;
    text-shadow: -2px -2px 5px rgba(0, 0,0, 0.2);
}
p,a{
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 1.56;
    /* white-space: nowrap; // ek line me all content */

}
a{
    text-decoration: none;
    color:red;
}
P::first-letter {
       text-transform: uppercase;
       font-size:44px;
       font-weight: 600;
}