.Section-padding{
    color: #fff;
    background: linear-gradient(to right,#3a7bd5,#00d2ff);
    border: 10px solid #003b99;
    padding: 100px 150px 150px 300px;
    /* top right bottom left */
}