 /* -----------pexels--------------------- */

 /* h1{
      font-size: 54px;
      color: blueviolet;
  } */
  /* p{
     font-size: 36px;
  } */
  /* li{
     font-size:44px;
  } */

  /* ----------percentages----------------------- */

  /* 100% = 16 px; */
  /* 1px = 6.25% */
    /* 1px = 6.25*54 = 337.5% */

  /* h1{
    font-size: 337.5%;
  } */

  /* ----------em------------- */

   /* 1em = 10px */

   /* .parent{
     font-size: 10px;
   }
   h1{
    font-size: 3.375em;
   }
   p{
    font-size: 2.25em;
   }
   li{
    font-size: 2.75em;
   } */

   /* -------------rem------------ */
   /* 16px = 100 % 
   1px = 6.25% 
    10px = 62.5 % */

   /* .parent{
  font-size: 20px;
   } */
   html{
    font-size: 42.5%;
   }

   /* 1 rem = 10 px; */
   h1{
    font-size: 5.4rem;
   }
   p{
    font-size: 3.6rem;
   }
   li{
    font-size:4.4rem;
   }