*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color:hsl(0, 0%, 94%);
}
img{
    width: 50%;
    border-radius: 20px;
  box-shadow: rgba(0,0,0,0.16)0px 10px 36px 0px rgba(0,0,0,0.06)0px 0px 0px 1px;
  filter:opacity(1);
}