*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: black;
}
img{
  /* box-shadow: 0 0 0 40px red; */
  filter: drop-shadow(-10px 10px 0 red);
}