*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 50px 100px;
    background-color: hsla(0, 0%, 94%);
}
#Main-heading{
    color: #1e1403;
    text-align: left;
    font-size: 64px;
    margin-bottom: 30px;
}
p{
    text-shadow: 2px 2px 5px rgba(0, 0,0, 0.3);
    font-size: 24px;
    letter-spacing: 1.5px;
    background:linear-gradient(to right, #182848,#4b6cb7);
    box-shadow: rgba(0, 0,0, 0.35)0px 5px 15px;
    border-radius: 5px;
    color: #fff;
    padding: 30px 20px;
    margin: 24px;
}
a{
    text-shadow: 2px 2px 5px rgba(0, 0,0, 0.3);
    font-size: 24px;
    letter-spacing: 1.5px;
    background:linear-gradient(to right, #182848,#4b6cb7);
    box-shadow: rgba(0, 0,0, 0.35)0px 5px 15px;
    border-radius: 5px;
    color: #fff;
    padding: 15px 36px;
    margin-right: 30px; 
    margin-top: 100px;
    /* ye srif right left work krega padding me margine me not work top bottom height  me bhii is known as inline element */
    /* inline -block element ka use krege tb sb work kera eg. display:inline-block; */
  display: inline-block;
  /* display: block; */
  /* jb bhii inline element use krege to ab display:inline-block use krge taki height , weight, margine ,padding acheese use kr ske */
} 