*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c3639;
}
.grid-container{
   width: 80%;
   margin: 100px auto;
   background-color: #dcd7c9;
   color: #fff;
   box-shadow: rgba(0, 0,0, 0.25)0px 54px  55px rgba(0, 0,0, 0.12)0px -12px 30px,rgba(0, 0,0, 0.12)0px 4px 6px rgba(0,0,0,0.17)0px 12px 13px rgba(0,0,0, 0.09)0px  -3px 5px;
   display: grid;
   grid-auto-rows: 250px;
   grid-template-rows: repeat( 2,250px);
   /* grid-template-columns: repeat(3,1fr); */
   /* grid-template-columns: 1fr min-content repeat( 1 ,1fr); */
   /* grid-template-columns: 1fr max-content repeat( 1 ,1fr); */
   /* grid-template-columns: 1fr minmax(250px, 1fr)  repeat( 1 ,1fr); */
   /* grid-template-columns:  repeat(3,minmax(250px, 1fr)); */
  grid-template-columns:  repeat(3,minmax(250px, 1fr));
  gap: 25px;
 /* align-items: center; */
 /* align-items: self-start;
  align-items: self-end;
  align-items: stretch; */

  /* justify horizontal work  */
/*   
  justify-items: self-start;
  justify-items: self-end; */
/* justify-items: center; */
  justify-items: stretch;
}
@media (width<1200px){
   .grid-container{
        grid-template-columns:  repeat(auto-fill,minmax(250px, 1fr));
   }
}

.item{
    display: grid;
    place-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
}
.item-1{
 background-color: #662549;
 /* row start / column start/ row end/ column end  */
 /* grid-area: 2/2 /3/3;   */
 /* grid-column: 2/3;
 grid-row: 2/3; */
}
.item-2{
 background-color: #113946;
}
.item-3{
  background-color: #102c57;
  /* grid-row: 1/2;
  grid-column:2/4 ; */
}
.item-4{
 background-color:#884a39;
}
.item-5{
 background-color:#454545;
}
.item-6{
   background-color:#85586f;
}
