body{
    width: 100%;
    height: 100vh;
    background-color: #191717;
    display: grid;
    place-items: center;
    background-color: #191717;
}
.shadow{
  width: 300px;
  height: 300px;
  padding: 40px;
  background-color:rgb(174,68,90) ;
  border-radius: 50%;
/* box shadow */
/* box-shadow: 0 0 40px 60px #ffb000; */
}
img{
  box-shadow: 0 0 0 40px red;
}