/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom ,#5b697a 0% ,#5b697a 50%),
    linear-gradient(#fafbfd 0%, #fafbfd 50%);
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
}
.Lists{
   width: 500px;
   padding: 40px;
   background-color: #fff;
   border-radius: 10px;
   box-shadow: rgba(0,0, 0, 0.24) 0px 3px 8px;
}
ul{
    list-style-type: decimal;
    list-style-position: inside;
    list-style-image: url("../images/cartoon.jpg");
    
}
li{
    font-size: 32px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 16px;
    border:2px  solid #ed5656;
}
image{
    width:50%;
}