*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "jost";
}
body{
    background-color:#080a0c ;
    color:azure;
    height: 100vh;
}
.Hero-content h1{
    text-align: left;
  font-size: 54px;
}
.Hero-content p {
    font-size: 18px;
    letter-spacing: 1px;
    margin: 2rem 0 4rem 0;
}
.Hero-content a{
    color: #080a0c;
}
img{
    width: 100%;
    height: auto;
}
.Hero-content a:link{
background-color: #fff;
display: inline-block;
padding: 10px 32px;
text-decoration: none;
text-transform: capitalize;
border-radius: 5px;
font-size: 24px;
font-weight: bold;

}
.Hero-content a:visited{
     color:yellow;
}
.Hero-content a:hover{
     color:blue;
}
.Hero-content a:active{
    color: aqua;
}