*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width:100%;
    height: 100vh;
    background-color: hsl(0, 0%, 94%);
    display: flex;
    justify-content: start;
    text-align: center;
    flex-direction: column;
}
.Section-one{
    color: #fff;
    /* background: linear-gradient(to right,#3a7bd5,#00d2ff); */
    background-color:  #0f2c5e;
    padding: 50px;
    width: 800px;
    border: 5px solid #337ccf;
    margin: 0 auto;
    /* box-sizing: border-box; */
   
 }
/*
.Section-two{
    color: #fff;
    background-color:  #5e9de9;
    padding: 50px;
    width: 1200px;
    margin: auto;
    margin-top: 30px;
} */