*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    width: 100%;
    height: 100vh;
    /* background-image: linear-gradient(to right, red,yellow); */
    /* background-image: linear-gradient(to right ,rgba(255,0,0,0.5), rgba(255,0,0,0.5)); */
     /* background-image: repeating-linear-gradient(45deg ,#d2e0fb,#79ac78 45px); */
      /* background-image: repeating-linear-gradient(45deg ,#d2e0fb,#79ac78 500px); */
      /* background-image:radial-gradient(circle,red 20%, yellow 40%,green 40%); */
    /* background-image:repeating-radial-gradient(circle ,red,yellow,green 50px);  */
    background-image: radial-gradient(circle at center,
    #ff5733,
    #ffc300,
    #ff5733,
    #2980b9,
    #33ff57,
    #2980b9);
}
